
/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font Families */
  --font-gt-alpina-fine: "GT Alpina Fine", serif;
  --font-gt-alpina-fine-bold: "GT Alpina Fine Bold", serif;
  --font-gt-walsheim: "GT Walsheim", sans-serif;
  --font-gt-walsheim-bold: "GT Walsheim Bold", sans-serif;
  --font-gt-walsheim-medium: "GT Walsheim Medium", sans-serif;
  --font-walsheim-oblique: "GT Walsheim Oblique", sans-serif;
  --font-fallback: Arial, sans-serif;

  /* Font Sizes (with clamp for responsiveness) */
  --font-h1: clamp(3.5rem, 2.8785rem + 2.6519vw, 5rem); 
  --font-h2: clamp(2.5rem, 2.0856rem + 1.768vw, 3.5rem); 
  --font-h3: clamp(2rem, 1.7928rem + 0.884vw, 2.5rem); 
  --font-h4: clamp(1.5rem, 1.2928rem + 0.884vw, 2rem); 
  --font-large-body: clamp(1.25rem, 1.1464rem + 0.442vw, 1.5rem); 
  --font-body: clamp(1rem, 0.8964rem + 0.442vw, 1.25rem); 
  --font-small: clamp(0.875rem, 0.8232rem + 0.221vw, 1rem); 

  /* Line Heights */
  --lh-h1: clamp(4rem, 3.3785rem + 2.6519vw, 5.5rem); 
  --lh-h2: clamp(3rem, 2.5856rem + 1.768vw, 4rem); 
  --lh-h3: clamp(2.5rem, 2.2928rem + 0.884vw, 3rem); 
  --lh-h4: clamp(2rem, 1.7928rem + 0.884vw, 2.5rem); 
  --lh-large-body: clamp(1.75rem, 1.6464rem + 0.442vw, 2rem); 
  --lh-body: clamp(1.5rem, 1.3964rem + 0.442vw, 1.75rem); 
  --lh-small: clamp(1.25rem, 1.1464rem + 0.442vw, 1.5rem);

  /* Color */
--color-pri-black: #000000;
  --color-pri-white: #FFFFFF;
  --color-sec-blue: #5F90FF;
  --color-sec-yellow: #FFBF50;
  --color-sec-red: #691E12;
  --color-sec-green: #00A468;
  --color-sec-orange: #FF5F00;
  --color-sec-purple: #BB7CD2;
  --color-lau-orange: #FF4103;
  --color-lau-pink: #FF8CB4;
  --color-lau-blue: #00AED7;
  --color-lau-yellow: #FFDC00;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


@font-face {
  font-family: "GT Walsheim";
  src: url("../assets/font/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "GT Walsheim";
  src: url("../assets/font/GT-Walsheim-Bold-Trial-BF651b7fc737c57.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "GT Walsheim";
  src: url("../assets/font/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
