.upload-art__header-image{
    margin-top: -6.2rem;
    z-index: -1;
    position: relative;
}



.upload-art {
  font-family: "GT Walsheim", sans-serif;
  font-weight: 400;
}

.upload-art__header-image {
  width: 100%;
  z-index: -1;
  position: relative;
}

.upload-art__instructions p {
  background-color: var(--color-sec-blue);
  font-size: 1.125rem;
  line-height: 133%;
  margin-top: -4px;
  padding: 3.375rem 1.5rem;
  text-align: center;
}

.upload-art__timer {
  background-color: var(--color-sec-yellow);
  padding: 3.125rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.upload-art__timer-label {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.upload-art__countdown {
  display: flex;
  gap: 1.25rem;
}

.upload-art__countdown p {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.upload-art__countdown span {
  font-weight: 700;
}

.upload-art__list {
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
  padding: 1.5rem;
  margin-top: 2.75rem;
  margin-bottom: 8rem;
}

.upload-art__item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.upload-art__item-footer {
  display: flex;
  gap: 0.5rem;
}

.upload-art__button {
  flex: 1;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: var(--color-sec-purple);
  text-align: center;
  text-transform: capitalize;
  align-self: center;
}

.upload-art__info-button {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-sec-yellow);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.3rem;
}

.upload-art__info-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1.5px solid var(--color-pri-black);
  
}

.upload-art__description {
  background-color: var(--color-sec-yellow);
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  text-align: left;
  line-height: 140%;
}

.upload-art__description-box {
  margin-top: -1rem;
}

.upload-art__description-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 16.5rem;
}

.big_box {
  width: 45px;
  height: 18px;
  background-color: var(--color-sec-yellow);
}

.small_box {
  width: 27px;
  height: 12px;
  background-color: var(--color-sec-yellow);
}
