.vote-complete-page {
  font-family: "GT Walsheim", sans-serif;
  font-weight: 400;
  margin-bottom: 7rem;
}

.vote-complete-page__container {
  background-color: var(--color-sec-yellow);
  padding: 5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  align-items: center;
}

.vote-complete-page__title {
    font-size: 2.75rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 82%;
    line-height: 133%;
}

.vote-complete-page__result {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.25rem;
  line-height: 140%;
  justify-content: center;
  align-items: center;
}

.vote-complete-page__art-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.title{
    text-transform: uppercase;
}


.name{
    text-transform: capitalize;
}


.vote-complete-page__creator {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.vote-complete-page__info {
    font-size: 1.25rem;
    line-height: 133%;
    width: 90%;
}


.vote-complete-page__button {
    background-color: var(--color-sec-purple);
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}


.vote-complete-page_content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
