.vote-art__header-image{
    width: 100%;
    z-index: -1;
    position: relative;
    margin-top: -6.5rem;
}

.vote-art {
  font-family: "GT Walsheim", sans-serif;
  font-weight: 400;
}


.vote-art__instructions p {
    background-color: var(--color-sec-blue);
    font-size: 1.125rem;
    line-height: 133%;
    margin-top: -4px;
    padding: 3.375rem 1.5rem;
    text-align: center;
}


.vote-art__timer{
    background-color: var(--color-sec-yellow);
    padding: 3.125rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.vote-art__timer-label {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.vote-art__countdown{
    display: flex;
    gap: 1.25rem;
}


.vote-art__countdown p{
    font-size: 1.25rem;
    text-transform: uppercase;
}
.vote-art__countdown p span{
    font-weight: 700;
}

.vote-art__arrow{
    width: 1rem;
    transform: rotate(90deg);
}

.vote-art__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-sec-blue);
    font-size: 1.25rem;
    position: absolute;
    bottom: -1.4rem;
    font-weight: 400;
}


.vote-art__item-image{
    width: 2.125rem;
    transform: rotate(90deg);
}

.vote-art__item-header{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: left;
}

.vote-art__item{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.vote-art__list{
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    padding: 1.5rem;
    margin-top: 2.75rem;
    margin-bottom: 8rem;
}


.vote-art__item-footer {
  display: flex;
  gap: 0.5rem;
}

.vote-art__button {
  flex: 1;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: var(--color-sec-purple);
  text-align: center;
  align-self: center;
  text-transform: capitalize;
}

.vote-art__info-button {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-sec-yellow);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.3rem;
}

.vote-art__info-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1.5px solid var(--color-pri-black);
  border-radius: 50%;
}

.vote-art__description{
    background-color: var(--color-sec-yellow);
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 1.25rem;
    text-align: left;
    line-height: 140%;
}

.vote-art__item-title{
    font-size: 1.125rem;
    text-transform: uppercase;
}

.vote-art__item-subtitle{
    font-size: 0.9rem;
}

.vote-art__item-message{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}


.big_box{
    width: 45px;
    height: 18px;
    background-color: var(--color-sec-yellow);
}

.small_box{
    width: 27px;
    height: 12px;
    background-color: var(--color-sec-yellow);
}

.vote-art__description-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 16.5rem;
}

.vote-art__description-box{
    margin-top: -1rem;
}


.vote-art__button--voted {
  background-color: var(--color-sec-green); 
  color: white;
}
