.footer{
    border-style: solid none none none;
    border-width: 1px;
    border-color: var(--color-pri-black);
    font-family: var(--font-gt-walsheim);
    padding: 0 1.5rem;
    padding-top: 4rem;
}

.footer__general-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.footer section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer h2{
    font-size: var(--font-h4);
    font-weight: 600;
    line-height: var(--lh-h4);
    text-transform: uppercase;
}

.footer li{
    font-size: 1.25rem;
}

.contact__list{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.find-us__list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.form{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.form__checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--font-body);
}

.form__checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form__checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-pri-black);
    border-radius: 0px;
    margin-right: 8px;
    position: relative;
    background-color: white;
}

.form__checkbox input:checked+.checkmark {
    background-color: var(--color-sec-blue);
    border-color: var(--color-sec-blue);
}

.form__checkbox input:checked+.checkmark::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form__email-input{
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.25rem;
    border: 1px solid var(--color-pri-black);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form__email-input input{
    border: none;
    background-color: transparent;
    font-family: var(--font-gt-walsheim);
    font-size: var(--font-body);
}

.form__email-input input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.form__email-input button {
    border: none;
    background-color: transparent;
}

.footer__bottom{
    border-style: solid none none none;
    border-color: var(--color-pri-black);
    border-width: 1px;

    margin-top: 5rem;
    padding: 3rem 0;
    padding-bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer__bottom div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__bottom div li{
    font-size: 1rem;
}

.footer__logo{
    width: 5rem;
}