.faq-item {
  margin-bottom: 2rem;
}

.faq-item__question {
    display: flex;
    
    align-items: center;
    background-color: var(--color-sec-blue);
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    gap: 1rem;
}

.faq-item--open .faq-item__question-text {
  font-family: "GT Walsheim", sans-serif;
  font-weight: 700;
}


.faq-item__question-text {
    margin: 0;
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
    line-height: 140%;
    font-family: "GT Walsheim", sans-serif;
}

.faq-item__arrow {
  width: 1.5rem;
  transition: transform 0.3s ease;
}

.faq-item--open .faq-item__arrow {
  transform: rotate(180deg);
}

.faq-item__answer {
  background-color: #fabc4e;
  padding: 1rem;
}

.faq-item__answer-text {
    margin: 0;
    font-size: 1.125rem;
    color: black;
    line-height: 133%;
}

.faq-item--green{
  background-color: var(--color-sec-green);
}