.previous-event-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.previous-event-gallery__title{
    grid-column: 2;

    background-color: var(--color-lau-yellow);
    display: flex;
    align-items: end;

    padding: 4.5rem 1.5rem;
}

.previous-event-gallery .previous-event-gallery__masked-text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5.2rem;
    line-height: 120%;
    color: black;

    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.previous-event-gallery__left{
    grid-row: 1 / span 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 8rem 2rem;
}

.previous-event-gallery__left .back-button{
    place-self: start;
    color: var(--color-pri-white);
    background-color: var(--color-pri-black);
}

.previous-event-gallery__left .back-button path {
    fill: var(--color-pri-white);
}

.previous-event-gallery__left .kiosk-button {
    place-self: center;
}

.previous-event-gallery__left ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: 0 auto;
}

.previous-event-gallery__qr{
    background-color: var(--color-lau-blue);

    padding: 0 2rem;
    padding-top: 4.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.previous-event-gallery__qr h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.previous-event-gallery__qr p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.previous-event-gallery__qr .qr rect{
    fill: transparent;
}

.previous-event-gallery__qr .qr div,
.previous-event-gallery__qr .qr svg {
    height: 12rem;
    width: 12rem;
}