.vote-art{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}

.vote-art .back-button {
    color: var(--color-pri-white);
    background-color: var(--color-pri-black);
}

.vote-art .back-button path {
    fill: var(--color-pri-white);
}

.vote-art__head{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: start;

    background-color: var(--color-lau-blue);
    padding: 8rem 2rem;
    padding-bottom: 3rem;
}

.vote-art__top {
    display: flex;
    flex-direction: column;
}

.vote-art__top h2 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 115%;
}

.vote-art__top p {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.vote-art__qr{
    background-color: var(--color-lau-yellow);

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 2rem;

    padding: 3rem 4rem;

    font-size: 1.5rem;
    text-align: center;
}

.vote-art__qr .qr rect {
    fill: transparent;
}

.vote-art__qr .qr div,
.vote-art__qr .qr svg {
    height: 12.5rem;
    width: 12.5rem;
}


.vote-art__slider {
    display: flex;
    gap: 1rem;

    width: 200vw;
    height: 17.5rem;
    margin-top: 4rem;

    animation: scroll 60s linear infinite alternate;
}

.vote-art__slider img {
    width: auto;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}