.vote{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 33% 66%;
}

.vote__head{
    grid-column: 1 / span 2;

    padding: 8rem 2rem;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;

    background-color: var(--color-lau-pink);
}

.vote__head h2{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: end;
}

.vote .back-button {
    place-self: start;
    color: var(--color-pri-white);
    background-color: var(--color-pri-black);
}

.vote .back-button path {
    fill: var(--color-pri-white);
}

.vote__item{
    background-color: var(--color-lau-yellow);
    padding: 6rem 3.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.vote__item--blue{
    background-color: var(--color-lau-blue);
}

.vote__item div{
    background-color: var(--color-lau-orange);
}

.vote__item div h3{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    padding: 0.5rem 0;
}

.vote__item p{
    font-size: 1.25rem;
    line-height: 140%;
    text-align: center;
}