.banner {
    width: calc(100vw + 1rem);
    transform: translateX(-0.5rem);
    overflow: hidden;
    background-color: var(--color-lau-yellow);
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 0;

    border-style: solid none solid none;
    border-color: var(--color-pri-black);
    border-width: 0.4rem;
}

.banner p {
    font-size: 3rem;
    display: inline-block;
    animation: scroll-left 15s linear infinite;
}

.banner--4 {
    margin-top: 30rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}