.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.touch-count-down {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-out 0s 1 normal forwards;

    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.touch-count-down__content {
    z-index: 1002;
    position: relative;
    text-align: center;
    width: max-content;

    padding: 1rem;
    padding-right: 2.5rem;
    margin: 30rem 0rem;
    background-color: var(--color-pri-black);

    align-self: start;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


.touch-count-down__counter {
    display: grid;
    place-items: center;
    height: 8.75rem;
    width: 8.75rem;
}

.touch-count-down__progress, .touch-count-down__counter-hidder, .touch-count-down__counter-value {
    grid-row: 1;
    grid-column: 1;
}

.touch-count-down__counter-value{
    font-size: 5rem;
    font-weight: bold;
    color: var(--color-pri-white);
    z-index: 50;
}

.touch-count-down__counter-hidder{
    width: 7.75rem;
    height: 7.75rem;
    background-color: var(--color-pri-black);
    border-radius: 0%;
    z-index: 20;
}

.touch-count-down__head {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-pri-white);
}

.touch-count-down__subhead {
    font-size: 2rem;
    color: var(--color-pri-white);
}
