.home *{
    font-family: var(--font-gt-walsheim);
}

.home h2{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.home h3 {
    font-size: 2.25rem;
    font-weight: bold;
}

.home p{
    font-size: 1.25rem;
}

.home .hero-image{
    display: flex;
    flex-direction: column-reverse;
}

.home .hero-image__image {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: block;
}

.home .hero-image__text{
    margin: 3rem 1.5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.home .hero-image__info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home .hero-image__info li {
    font-size: 3rem;
    font-weight: 200;
}

.home .hero-image__text a{
    margin: 0 auto;
}

.home .quick-info{
    scroll-margin-top: 10rem;
    padding: 2rem 1.5rem;

    background-color: var(--color-sec-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    text-align: center;
}

.home .now-at-abby{
    margin: 5rem 1.5rem;
    margin-bottom: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.home .now-at-abby__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.home .now-at-abby__heading p{
    font-size: 1.5rem;
}

.home .now-at-abby__event{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.home .now-at-abby__event h3{
    margin-top: 2rem;
}

.home .now-at-abby__event div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.home .now-at-abby__event a {
    place-self: center;
}

.home .banner {
    width: 100%;
    overflow: hidden;
    background-color: var(--color-sec-yellow);
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0;
}

.home .banner p {
    font-size: 2rem;
    display: inline-block;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.home .you-are-abby{
    background-color: var(--color-sec-green);
    padding: 2rem 0;
    padding-bottom: 7rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.home .you-are-abby__head h2, .you-are-abby__text, .you-are-abby__list{
    padding: 0 1.5rem;
}

.home .you-are-abby__head {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.home .you-are-abby__head h2{
    text-align: center;
}

.home .you-are-abby__head img {
    text-align: center;
    padding: 0 0.75rem;
}

.home .you-are-abby__text{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.home .you-are-abby__text h3 {
    font-weight: 400;
}

.home .you-are-abby__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home .stats{
    padding: 5rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.home .stats__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.home .stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.home .stats__value{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-sec-orange);
}

.home .stats__value--purple {
    color: var(--color-sec-purple);
}

.home .stats__value--blue {
    color: var(--color-sec-blue);
}

.home .stats__label{
    font-size: 1.5rem;
}

.home .stats__bottom{
    place-self: end;
}

.home .previously-at-abby{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 8rem;
}

.home .previously-at-abby__head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    margin: 0 1.5rem;
    text-align: center;
}

.home .previously-at-abby__head p{
    font-size: 2.5rem;
}

.home .previously-at-abby__content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.home .previously-at-abby__button {
    place-self: center;
}